

fastapi # The main web framework for building our API.
pydantic[email] # For data validation and settings management.
uvicorn[standard]  # The ASGI server that runs our FastAPI application.
motor # For ASYNCHRONOUS connecting to MongoDB (replaces pymongo)
bcrypt # Used for securely hashing and verifying user passwords (NFR-S1).
python-jose[cryptography] # Used to create and validate JSON Web Tokens (JWTs) for auth (FR1.1).
python-multipart # Required by FastAPI to parse form data (used in our /login route).
pandas # For reading local CSV/JSON files (e.g., mock tariffs, UKPN data)
numpy # For efficient numerical calculations in the OptimisationEngine.
pytest # The framework for running our unit tests.
redis[hiredis] # The async Python client for our Redis cache (NFR-P2).